* {
  margin: 0;
  padding: 0;
}

.icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.gamer-icone-text {
  font-family: "Work Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #0b0223;
}

.nav-bar {
  width: 1920px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.menu-bar ul li a {
  text-decoration: none;
  color: #3c354f;
}

.menu-item {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  list-style: none;
}

.menu-item li:hover{
    background-color: rgba(11, 2, 35, 0.1);
    padding: 17px 24px;
    border-radius: 8px;
}

.menu-text-follow {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 17px 24px;
  border-radius: 8px;
}

/*---------------- banner part start -----------*/
.banner-part{
    width: 1920px;
    height: 700px;
    display: flex;
    margin: 0 auto;
}

.goat{
    padding: 148px 240px;
    background-image: url('/images/banner-bg.png');
}

.play-text {
  font-family: "Work Sans", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #0b0223;
}

.goat-text {
  font-family: "Work Sans", sans-serif;
  font-size: 96px;
  font-weight: 800;
  /* color: #F948B2; */
  background: linear-gradient(#f948b2, #8758f1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.goat-downloae-section{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-top: 24px;
}

.goat-downloae-section li{
    margin-top: 17px;
    list-style: none;
}

.btn{
    margin-top: 40px;
}

.banner-btn{
    font-family: "Work Sans", sans-serif;
    background-color: #f948b2;
    padding: 21px 40px;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-right: 24px;
}

.banner-btn:hover{
    background-color: #4EC5F7;
    transition: background-color 0.4s;
    
}
/*---------------- banner part end -----------*/
/*---------------- gamer part start -----------*/
.gamer-part{
    width: 1920px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.we-are-gamer{
    font-family: "Work Sans", sans-serif;
  font-size: 48px;
  font-weight: 800;
  /* color: #F948B2; */
  background: linear-gradient(#f948b2, #8758f1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.gamer{
    /* direction: rtl; */
    direction:rtl;
    padding: 96px 52px;
    width: 520px;
}

.our-purpose{
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
}
.unleash-game{
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 32px;
}

/*---------------- gamer part end -----------*/
/*---------------- online game part start -----------*/
.online-game{
    width: 1920px;
    margin: 0 auto;
    text-align: center;
}
.online-game-text{
    /* text-align: center; */
    margin-top: 120px;
}


.online-game-heading{
    font-family: "Work Sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #0B0223;
}

.funny-videos{
    background: linear-gradient(#f948b2, #8758f1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.online-game-items{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;
    margin-left: 100px;
}

.online-game-para{
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
    margin-top: 16px;
}

.online-game-item-one{
    width: 342px;
    height: 484px;
}

.games-img{
    opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.online-game-img-part{
    position: relative;
    width: 100%;
}

.online-game-img-part:hover .games-img{
    opacity: 0.3;
}

.online-game-img-part:hover .img-inner-part{
    opacity: 1;
}

.watch-text{
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 20px;
    color: #f948b2;
}

.img-inner-part{
    transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.online-game-para{
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

/*---------------- online game part end -----------*/
/*---------------- Play instantly part start -----------*/
.play-instantly-part{
    width: 1920px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.play-instantly{
    width: 400px;
}
.play-instantly-header{
    font-family: "Work Sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.play-instantly-para{
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #3c354f;
    margin-top: 24px;
}

.play-instantly-img-part{
    position: relative;
    top: 0;
    right: 0;
}

.img-one{
    position: relative;
    top: 0;
    right: 0;
    border: 1px solid #fff;
}

.img-two{
    position: absolute;
    bottom: -80px;
    left: -130px;
    border: 1px solid #fff;
    border: 0;
}

/*---------------- Play instantly part end -----------*/
/*---------------- dad's part start -----------*/

.img-three{
    position: relative;
    top: 0;
    right: 0;
    border: 1px solid #fff;
}

.img-four{
    position: absolute;
    bottom: -80px;
    right: -130px;
    border: 1px solid #fff;
    border: 0;
}
/*---------------- dad's part end -----------*/
/*---------------- Careers part start -----------*/
.careers-part{
    width: 1920px;
    margin: 0 auto;
    margin-top: 150px;
    align-items: center;
    color: #fff;
    background-color: #FF42A5;
    height: 821px;
    display: flex;
}

.careers-text-part{
    padding: 120px 240px;
}
.careers{
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.careers-para{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 24px;
}

.careers-text-part ul li{
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.careers-items{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.see-all-positions{
    background-color: #fff;
    color: #FF42A5;
    padding: 21px 40px;
    border-radius: 50px;
    border: none;
    margin-top: 24px;
    cursor: pointer;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

/*---------------- Careers part end -----------*/
/*---------------- Total Games part start -----------*/
.total-games-part{
    width: 1920px;
    margin: 0 auto;
}
.total-games{
    /* width: 1400px; */
    justify-content: center;
    padding: 120px 240px;
    display: flex;
    flex-wrap: wrap;
}

.total-games-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-right: 27px;
    margin-top: 50px;
}

.games-item-name{
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

/*---------------- Total Games part end -----------*/
/*---------------- Footer part start -----------*/

.footer-part{
    width: 1920px;
    height: 636px;
    background-color: #0B0223;
    color: #fff;
    margin: 0 auto;
}

.footer-part-start{
}

.footer-icon{
    display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding-top: 120px;
}

.footer-items{
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    gap: 60px;
    list-style: none;
    justify-content: center;
    margin-top: 66px;
}

.footers-icons{
    display: flex;
    gap: 40px;
    font-weight: 800;
    font-size: 50px;
    justify-content: center;
    margin-top: 56px;
}

.footer-trams{
    display: flex;
    gap: 56px;
    list-style: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    justify-content: center;
    margin-top: 74px;
    margin-bottom: 68px;
    color: rgba(255, 255, 255, .6);
}

.footer-end p{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, .6);
}

/*---------------- Footer part end -----------*/
